<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>app.hubspot.com</string>
	<key>connections</key>
	<dict>
		<key>88F916AD-5A06-45BB-8C0A-6EF6AA568B33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98175814-C6FA-4AD1-B556-5B4933F9CB46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>685730A5-380D-4525-A92A-D20A9D265891</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Almost there! Just hit enter!</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jonathan Kim</string>
	<key>description</key>
	<string>Navigate HubSpot from Alfread</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>HubSpot</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>hubspot</string>
				<key>runningsubtext</key>
				<string>Hang on buddy...</string>
				<key>script</key>
				<string>python main.py {query}</string>
				<key>subtext</key>
				<string>Go to an app within HubSpot</string>
				<key>title</key>
				<string>HubSpot</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>88F916AD-5A06-45BB-8C0A-6EF6AA568B33</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>98175814-C6FA-4AD1-B556-5B4933F9CB46</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python configure.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>685730A5-380D-4525-A92A-D20A9D265891</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>685730A5-380D-4525-A92A-D20A9D265891</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>88F916AD-5A06-45BB-8C0A-6EF6AA568B33</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>98175814-C6FA-4AD1-B556-5B4933F9CB46</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/hijonathan/hubspot-alfred</string>
</dict>
</plist>
